/.idea/libraries/
/.idea/.gitignore
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/php.xml
/.idea/shop-domain.iml
/.idea/vcs.xml
/service/shop-domain-service/shop-domain-service.iml
/.idea/
/service/shop-domain-service/target/maven-status/maven-compiler-plugin/compile/compile/createdFiles.lst
/service/shop-domain-service/.flattened-pom.xml
/service/shop-domain-service/target/classes/git.properties
/service/shop-domain-service/target/maven-status/maven-compiler-plugin/compile/java-compile/createdFiles.lst
/service/.flattened-pom.xml
/service/shop-domain-service/target/maven-status/maven-compiler-plugin/compile/compile/inputFiles.lst
/service/shop-domain-service/target/maven-status/maven-compiler-plugin/compile/java-compile/inputFiles.lst
/service/shop-domain-service/target/
/service/shop-domain-common/shop-domain-common.iml
/service/shop-domain-common/.flattened-pom.xml
/service/shop-domain-common/target/classes/classpath.index
/service/shop-domain-common/target/maven-status/maven-compiler-plugin/compile/java-compile/createdFiles.lst
/service/shop-domain-common/target/maven-status/maven-compiler-plugin/compile/java-compile/inputFiles.lst
/service/shop-domain-common/target/
/service/shop-domain-common/target/classes/
